.iconos{
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}